/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --siteColor:#78B731;
    --siteGray:#6C757D;
    --siteDark:#212121;
    --borderColor:#636464
}

body{
    background-color: #F3F3F3;
}
.fs-badge{
    font-size: .6rem;
}
.siteText{
    color:var(--siteColor);
}
.siteGray{
    color:var(--siteGray);
}

.siteDark{
    color:var(--siteDark);
}

.bg-site{
    background-color: var(--siteColor);
}
.borderGray{
    border-color: var(--borderColor) !important;
}

.borderSite{
    border-color: var(--siteColor) !important;
}

.headerGray{
    color:var(--borderColor) ;
}

.btnHover:hover{
    background-color: #537922;
}

/* .w-80{
    max-height: 500px;
} */

.header{
    z-index: 2;
}

header a:hover i{
    color:#537922;
}

.navbar {
    --bs-navbar-padding-y: 0;
}


.navbar-nav .nav-link.active{
    color:var(--siteColor) !important;
}

.dropdown-item.active{
    background-color: var(--siteColor) !important;
    color:#fff !important;
}


.homeCaption1{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.5))) ,url(../img/carousel-1.jpg);
    background-image:-o-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/carousel-1.jpg);
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/carousel-1.jpg);
}

.homeCaption2{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.5))) ,url(../img/carousel-2.jpg);
    background-image:-o-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/carousel-2.jpg);
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/carousel-2.jpg);

}
#Home .homeCaption{
    height: 100vh;
    background-size: cover;
    background-position: center center;
} 

h1{
    font-size: 3rem;
    width:95%;
}
.input-group-append {
    cursor: pointer;
  }
 
  .desitCard{
    -webkit-transform: translateX(5%) translateY(-50%);
        -ms-transform: translateX(5%) translateY(-50%);
            transform: translateX(5%) translateY(-50%);
    top:50%;
    width:90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:4rem 0;
    max-height: 90%;

   
  }

 .desParent img,.desParent .desitCard{
    -webkit-transition: outline 1s;
    -o-transition: outline 1s;
    transition: outline 1s;
 }
  .desParent:hover img{
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5);
  }
  .desParent:hover .desitCard{
    outline: 90px solid #8dadc48e;
  }

  .serviceCard,.serviceCard i {
     -webkit-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;
  }

  .serviceCard:hover i{
    background-color: var(--siteColor);
    color:#fff !important; 
  }
 .packParent{
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
 }
  .services .serviceCard:hover,.packParent:hover{
    -webkit-box-shadow:  0 .5rem 1rem 10px rgba(0,0,0,.15)  !important;
            box-shadow:  0 .5rem 1rem 10px rgba(0,0,0,.15)  !important;
  }

  .packageTitle{
    border-bottom: 1px solid #DEE2E5;
  }
  .packageTitle a:hover{
    color:var(--siteColor) !important;
  }

  .sign{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.5))) ,url(../img/carousel-1.jpg);
    background-image:-o-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/carousel-1.jpg);
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/carousel-1.jpg);
    background-size: cover;
    background-position: center center;
  }

  .fa-ul {
    margin-left: var(--fa-li-margin,1.1rem);
}



.teamIcon{
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateY(500%);
        -ms-transform: translateY(500%);
            transform: translateY(500%);

}
.icon1{
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
}
.icon2{
    -webkit-transition-delay: .4s;
         -o-transition-delay: .4s;
            transition-delay: .4s;
}
.icon3{
    -webkit-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
}
.icon4{
    -webkit-transition-delay: .6s;
         -o-transition-delay: .6s;
            transition-delay: .6s;
}

.teamCard{
    opacity: 0;
    -webkit-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
}

.teamIcon:hover,.social:hover{
    background-color: var(--siteColor);
    color:#fff !important;
    cursor: pointer;
}
.teamParent img{
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.teamParent:hover .teamCard{
    opacity: 1;
}

.teamParent:hover img{
 -webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
         transform: scale(1.1);
}
.teamParent:hover .teamIcon{
-webkit-transform: translateY(0);
    -ms-transform: translateY(0);
        transform: translateY(0);
}

.testCard{
    margin-top:-1rem;
}



.owl-carousel .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  .owl-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: #DDDDDD;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  
  .owl-carousel .owl-dot.active {
    width: 40px;
    background: var(--siteColor);
  }
  
  .owl-carousel .owl-item.center .testInfo,.blogCard:hover {
    -webkit-box-shadow: 0 0 30px #CCCCCC;
            box-shadow: 0 0 30px #CCCCCC;
  } 

   .heaHover:hover{
    color:#537922;
   }

   .blogInfo{
    top:15%;
    left:-15px;
   }

   .blogInfo::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    left: 0;
    border: 8px solid;
    border-color: transparent #5f8f25 #5f8f25 transparent;
    z-index: -1;
   }

   footer li:hover a {
    text-decoration: underline !important;
   }
   
   .copy{
    border-top:1px solid #383838;
   }

  /* End of Home Page  */

  #About,#Services{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.5))) ,url(../img/carousel-2.jpg);
    background-image:-o-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/carousel-2.jpg);
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/carousel-2.jpg);
   background-size: cover;
   height:60vh;
   padding-top:3rem;
  }

  #About a:hover, #Services a:hover{
    text-decoration: underline !important;
  }

  .contactWidth{
    width:100%;
  }

  .blogLink:hover{
    text-decoration: underline !important;
  }

  .tag:hover a{
    background-color: var(--siteGray) !important;
    color:#fff !important;
  }
  
  .reply:hover{
    background-color: var(--siteColor);
    color:#fff  !important;
  }
@media screen and (min-width:768px){
    .Dates{
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
   
    .contactWidth{
        width:80%;
      }
      
  }
@media screen and (min-width:992px){
    h1{
        font-size: 5rem;
        width:70%;
    }
    .navPosition{
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    .aboutInfo{
        margin-top:5rem;
        margin-bottom:5rem;
        margin-left:-120px;
      }   
      .contactWidth{
        width:50%;
      }
    
}